    <div class="header">
        <h1 class="title">Lorem Ipsum</h1>
        <br><br>
        <p class="paragraf">"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."<br>
        "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</p>
        <br><BR>
        <button class="button-header" onclick="window.location.href='https://google.com';" type="button">Visit website!</button>
        <br>
        <div class="img-container">
        <img class="img" src="https://beasleysplace.files.wordpress.com/2021/03/user_interface-1.png" alt="header-image">
        <br>
        </div>
       
    </div>
   

